.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.score {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 50px;
    margin-top: 10px;
}

.btns {
    margin: 25px;



}

